
#header
  display block
  color #000
  padding 8px 0 8px 16px
  text-decoration none

body
  background-color #f6f6f6
  color #adadad
h1
  margin-bottom 30px
  padding-top 30px
  padding-bottom 45px
  background-color #801515
  font-size 80px
  text-align center
  color white
  font-family Ultra sans-serif

.seat-chart
  width 50%
  margin 0 auto

.seat
  background-color #0E5540
  width 14%
  margin 3px
  min-height 100px
  display inline-block
  border-radius 8px

.pending
  background-color #597814

.reserved
  background-color #801515

.available
  &:hover
    background-color #597814

.reservationkey
  padding-bottom 30px

.reservedkey
  background-color #801515
  width 20%
  margin auto
  min-height 50px
  display inline-block
  padding-top 20px

.availablekey
  background-color #0E5540
  width 20%
  margin auto
  min-height 50px
  display inline-block
  padding-top 20px

h3
  color white
  font-size 1.5em
  text-align center

footer
  background-color #0E5540
  position fixed
  bottom 0px
  left 0px
  width 100%

label
  display block
  margin-top 20px
button
  background-color #801515
  color white
  margin-bottom 30px

@media (max-width: 500px)
  .reservedkey
    width 40%
  .availablekey
    width 40%

  h1
    font-size 1.5em
    padding-bottom 30px

.description
  font-size 20px
  border solid
  padding 10px
  margin left 30px
  margin right 30px

label
  display-block

ul
  list-style-type: none
  margin 0
  padding 0
  width 200px
  background-color #0E5540

#header
  color white