#header
  {
    border-style: solid;
    border-color: #0E5540;
}
  
.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.seat{
  background-color: #0E5540;
  width: 14%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.pending {
  background-color: #597814;
}

.reserved {
  background-color: #801515;
}

.available:hover {
  background-color: #597814;
}

.reservationkey {
  padding-bottom: 30px;
}

.reservedkey  {
  background-color: #801515;
  width: 20%;
  margin: auto;
  min-height: 50px;
  display: inline-block;
}

.availablekey {
  background-color: #0E5540;
  width: 20%;
  margin: auto;
  min-height: 50px;
  display: inline-block;
}

h3 {
  color: white;
  font-size: 1.5em;
}

#footer
   {
    border-style: solid;
    border-color: #0E5540;

}

@media (max-width: 500px) {
  .reservedkey {
    width: 40%;
  }

  .availablekey {
    width: 40%;
  }
}